html 
    head
        title Výsledky-Square wars
        style 
            include css/styles.css 
    body
        h1 #{nadpis}
        table 
            thead
                tr 
                    th Hráč
                    th Body 
                    th Datum 
                    th Čas 
            tbody
                each pl in players
                    tr
                        td #{pl.player}       
                        td #{pl.points}
                        td #{pl.date}
                        td #{pl.time}
